@use '../../styles/globals' as g;

.mainContainer{
    position: relative;
    box-sizing: border-box;
    padding: 5vh 5vw;
    z-index: 101;
    height: 100vh;
    background-color: white;
    .mainTitle{
        margin-bottom: 20px;
    }.dataContainer{
        height: 50vh;
        width: 100%;
        // background-color: red;
        box-sizing: border-box;
        padding: 2vh 2vw;
        border-radius: 10px;
        overflow: hidden;
        .clientContainer{
            // text-decoration: none;
            box-sizing: border-box;
            width: 19%;
            min-width: 110px;
            overflow: hidden;
            padding: 1%;
            border-radius: 5px;
            background-color: rgba(0,0,0,.8);
            color: white;
            text-align: center;
            transition: 200ms ease;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .clientLink{
                height: 100%;
                width: 100%;
                // background-color: grey;
                text-decoration: none;
                color: inherit;
                font-size: calc(g.$mobile-p-font-size * .3);
            }
            .clientImg{
                width: 90%;
                border-radius: 2px;
            }
        }
        .clientContainer:hover{
            box-shadow: 20px 20px 20px rgba(0,0,0,1);
            transform:scale(1.05);
            transform-origin: center;
            background-color: black;
            cursor: pointer;
        }
    }
}