@use '../../styles/globals' as g;

.mainContainer{
    // position: relative;
    padding: calc(g.$mobile-NavBar-height * 1.5) 2vw 5vh;
    min-height: 100vh;
    background-color: g.$main-color;
    .mainTitle{
        text-align: center;
        margin-bottom: 30px;
    }
    .resumen{
        width: 100%;
    }
}